.usermenu-container {
  display: flex; 

  justify-content: center; 
  align-items: center; 

  min-width: inherit; 
  max-height: inherit; 

  width: inherit; 
  height: inherit; 

  .list {
    
    .item {
      float: left; 
      width: 6em; 
      box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      -webkit-box-sizing: border-box; 
      margin: 0 1.5em; 
      padding: 0.5em; 

      .item-container {
        display: flex; 
        justify-content: center; 
        align-items: center; 

        flex-direction: column; 
        -ms-flex-direction: column; 
        color: #a6a6a6; 
        transition: color 0.8s; 

        .icon {
          font-size: 2em; 
        }

        &:hover {
          color: #004382; 
          cursor: pointer;
        }
      }
    }
  }
}

.menu-active {
  color: #004382; 
}